.container {
	position: relative;
	flex-direction: column;
	justify-content: space-between;
}

.class1 {
	z-index: 2;
	color: white;
}

.bgImg {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
}

.portraitBuffer {
	min-height: var(--IMG_5372-size);
	height: var(--IMG_5372-size);
	margin-bottom: var(--IMG_5372-bottom);
	/*debug*/
	/* background-color: red;
	z-index: 2;
	width: 0.4rem; */
}
