.container {
	position: relative;
	flex-direction: column;
	justify-content: space-between;
}

.class1 {
	z-index: 2;
	color: white;
	text-shadow: 0 0 20px black;
}
h1.class1 {
	font-size: 2.4rem;
}
p.class1 {
	font-size: 1.5rem;
}

.bgImg {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
	opacity: 1;
}

.portraitBuffer {
	min-height: var(--IMG_5372-size);
	height: 13rem;
	margin-bottom: var(--IMG_5372-bottom);
}
