:root {
	--navImgContainer-padding: 0rem;
}

.mainContainer {
	position: sticky;
	left: calc(
		50% - (var(--IMG_5372-size) / 2) - var(--navImgContainer-padding)
	);
	bottom: calc(var(--IMG_5372-bottom) - var(--navImgContainer-padding));
	height: var(--IMG_5372-size);
	width: var(--IMG_5372-size);
	min-width: var(--IMG_5372-size);
	min-height: var(--IMG_5372-size);
	border-radius: var(--IMG_5372-size);
	padding: var(--navImgContainer-padding);
}
.mainContainer:hover {
	outline: 0.2rem solid var(--color-1);
}
.mainContainer:active {
	outline: 0.2rem solid var(--color-4);
}

.imgCircleContainer {
	position: sticky;
	height: var(--IMG_5372-size);
	width: var(--IMG_5372-size);
	min-width: var(--IMG_5372-size);
	min-height: var(--IMG_5372-size);
	border-radius: var(--IMG_5372-size);
	overflow: hidden;
}

.IMG_5372 {
	position: absolute;
	height: 100%;
	margin-left: calc(var(--IMG_5372-size) - 112%);
	z-index: 0;
	pointer-events: none;
	user-select: none;
}

.dropdownItem {
	position: absolute;
	translate: -50% -50%;
	top: calc(
		50% - (var(--IMG_5372-size) / 2) - var(--navImgContainer-padding)
	);
	left: calc(50%);
	color: var(--black);
	background-color: var(--color-1);
	padding: 0.3rem;
	border-radius: 0.3rem;
	transition: scale 0.5s, box-shadow 0.5s, opacity 1s;
	user-select: none;
}
.dropdownOff {
	opacity: 0;
	scale: 0;
	transition: opacity 1s, scale 0.8s;
}

.dropdownItem:hover {
	scale: 1.1;
	box-shadow: 0 0 10px var(--gray);
	outline: 1px solid var(--black);
	background-color: var(--color-2);
	transition: scale 0.5s, box-shadow 0.5s;
}

.dropdownItem:active {
	scale: 1;
	background-color: var(--color-4);
	transition: scale 0ms;
}
